@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,600');


.img-fluid {
  width: 25%;
  margin: 2%;
}

.story-text {
  margin-left: 8%;
  margin-right: 8%;
  margin-top: 4%;
  margin-bottom: 0%;
}

.standout {
  color:MediumSeaGreen;
}

.navbar {
  background-color: rgba(255, 255, 255, 0.795);
  /* background-color: rgba(55, 100, 64, 0.377); */
  /* background-image: linear-gradient(rgba(55, 100, 64, 0.329), rgba(55, 100, 64, 0.116)); */
  /* border-top:6px solid rgba(45, 126, 62, 0.87); */
  border-bottom:1.5px solid rgba(55, 100, 64, 0.377);
}

.leftmost {
  margin-left: 22%;
}


.nav-item {
  margin-right: 3%;
  min-width: max-content;
}





body {	
  /* background: white; */
  /* background-image: linear-gradient(rgba(55, 100, 64, 0.329), rgba(55, 100, 64, 0.116)); */
  background: url(../single_image_background.jpg) rgb(119, 148, 175);
  /* background-image: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%), url(../background_image.jpg); */
  background-size: 100%;
  background-repeat: no-repeat;
  position: relative;
}




.w3-content {
  background-color: rgba(255, 255, 255, 0.774);
  margin-left: 30%;
}


.footer-copyright {
  background-color: rgba(255, 255, 255, 0.6);
}

.un-emphasis {
  color: rgb(106, 106, 209);
}


#wrapper {
    min-width: 300px;
    overflow:scroll;
}


/* The hero image */
.hero-image {


  /* Set a specific height */
  height: 25%;

  margin-left:0%

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


/* Place text on the image */
.hero-text {
  text-shadow: 0 1px 2px rgba(0,0,0,1.2);
  font-size: 330%;
  max-width: 100%;
  position: absolute;
  top: 77%;
  left: 24%;
  transform: translate(-50%, -50%);
  color: white;
}